@use 'variables.scss';

.footer-container{
    background-color: #020202;
    color: variables.$text-color-white;

    & .information__footer-container{
        & div p{
            font-size: variables.$font-base;
        }
    }
    & .copy__footer-container{
        & p{
            font-size: variables.$font-base;
        }
    }
}