.navbar {
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
  }

  .navbar-nav {
    .nav-item {
      width: 100%;
      & .bi-arrow-right {
        transform: translateX(0);
        transition: transform 0.2s ease-in-out;
      }
      &:hover .bi-arrow-right {
        transform: translateX(5px);
        transition: transform 0.3s ease-in-out;
      }
    }
    .nav-link {
      //text-transform: uppercase;
      letter-spacing: 0.5px;
      font-size: 14px;
      padding-top: 15px;
      padding-bottom: 15px;
      color: #000;
    }
  }
}

// dropdown menu items
.dropdown-menu {
  background-color: #d6d6d6;
  margin-top: 0;
  & ul {
    width: 100%;
  }
  .list-group li {
    background-color: transparent;
  }
  & ul .dropdown-item {
    padding-top: 12px;
    padding-bottom: 12px;
    color: #000000;
    font-size: 14px;
    //text-transform: uppercase;
  }
}

// canvas styles
.body-canvas > div {
  .list-group li {
    background-color: transparent;
  }
  & ul .list-group-item .dropdown-item {
    padding: 14px;
    padding-left: 16px;
    //text-transform: uppercase;
    font-size: 14px;
  }

  .title__list-group {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 5px;
      right: 14px;
      left: 16px;
      width: calc(100% - 40px);
      height: 1px;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1;
    }
  }
}

.bg-scroll-down {
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 768px) {
  .navbar > div {
    max-width: 1260px;
    margin: auto;
  }
}

@media screen and (min-width: 991px) {
  .navbar {
    .navbar-nav {
      .nav-item {
        width: auto;
      }
      .nav-link {
        font-size: 15px;
        padding-top: 8px;
        padding-bottom: 8px;
        border: none;
        transition: color 0.6s ease-in-out;
      }
      .list-group {
        .list-group-item {
          font-size: 13px;
          & .dropdown-item:hover {
            background-color: rgb(213, 213, 213);
          }
          & .dropdown-item:active {
            background-color: rgb(104, 102, 102);
          }
          & .title__list-group {
            &:hover {
              background-color: transparent;
            }
            &:active {
              color: #000;
            }
          }
        }
      }
    }
  }
  .dropdown-menu {
    min-width: 450px;
    background-color: #ffffff;
    .list-group li {
      background-color: #ffffff;
    }
  }
}
