
.dropdown-menu{
    background-color: #d6d6d6 ;
    margin-top: 0;
    & ul{
        width: 100%;
    }
    .list-group li{
        background-color: transparent;
    }
    & ul li a.dropdown-item{
        padding-top: 12px;
        padding-bottom: 12px;
    }
   
}

.body-canvas > div{
    .list-group li{
        background-color: transparent;
    }
    & ul li a{
        padding: 14px;
        padding-left: 16px;
    }
    .title__list-group{
        text-align: center;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            top: 50%;
            left: 16px;
            width: 40%;
            height: 1px;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1;
        }
        &::after{
            content: "";
            position: absolute;
            top: 50%;
            right: 14px;
            width: 40%;
            height: 1px;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1;
        }

    }
}

.navbar-nav {
    .nav-item{
        width: 100%;
        & .bi-arrow-right {
            transform: translateX(0);
            transition: transform 0.2s ease-in-out;
        }
        &:hover .bi-arrow-right {
            transform: translateX(5px);
            transition: transform 0.3s ease-in-out;
        }
    }
    .nav-link {
        text-transform: uppercase;
        letter-spacing: .5px;
        font-size: 14px;
        font-weight: 600;
        padding-top: 15px;
        padding-bottom: 15px;
        color: #000;
        
    }
    
    .list-group {
        .list-group-item {
            font-size: 12px;
            text-transform: uppercase;
        }
    }
}

@media screen and (min-width: 991px) {
    .dropdown-menu{
        min-width: 450px ;
        background-color: #ffffff;
        .list-group li{
            background-color: #ffffff;
        }
    }
    .navbar-nav {
        .nav-item{
            width: auto;
        }
        .nav-link {
            font-size: 15px;
            padding-top: 8px;
            padding-bottom: 8px;
            border: none;
        }
        .list-group {
            .list-group-item {
                font-size: 13px;
                & .dropdown-item:hover{
                    background-color: rgb(213, 213, 213);
                }
                & .dropdown-item:active{
                    background-color: rgb(104, 102, 102);
                }
                & .title__list-group{
                    &:hover{
                        background-color: transparent;
                    }
                    &:active{
                        color: #000;
                    }
                }
            }
        }
    }
  }
  