$h1: 28px;
$h2: 24px;
$h3: 20px;
$h4: 18px;
$h5: 16px;
$h6: 14px;
$font-big-big: 22px;
$font-big: 16px;
$font-base: 14px;
$font-small: 12px;
$font-smallest: 10px;


$text-color-white: #ffffff;
$text-color-black: #000000;
