$primary: #3b37ff;
$headings-font-family: "Plus Jakarta Sans", serif;
// font-family: "Plus Jakarta Sans", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;

@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/variables-dark";
@import "../../../../node_modules/bootstrap/scss/maps";
@import "../../../../node_modules/bootstrap/scss/mixins";

@import "../../../../node_modules/bootstrap/scss/bootstrap";

@import "./header.scss";
@import "./auth-user.scss";
@import "./home.scss";
@import "./card.scss";
@import "./footer.scss";

:root {
  scroll-behavior: smooth;
}

html,
body {
  //background-color: rgb(248, 248, 248);
  font-family: "Plus Jakarta Sans", serif;
}


.list-group .list-group-item-action > .svg-icon {
  pointer-events: none;
}

.btn-container input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  top: 0;
  right: 0;
  opacity: 0;
}

.form__product input,
.form__product select {
  padding-top: 12px;
  padding-bottom: 12px;
}
.form__product button {
  padding: 12px;
}

// HEADER navigation links
.navbar-toggler:focus {
  box-shadow: none;
  border: none;
}



// forms
.form-select,
.form-control {
  border-color: rgba(173, 166, 166, 0.45);
}
.form-select:focus,
.form-control:focus {
  box-shadow: none;
}
.form-select.is-invalid:focus,
.form-control.is-invalid:focus {
  box-shadow: none;
  border-color: rgba(255, 0, 0, 0.45);
}

.dropdown-menu {
  border: none;
}

// classname for cursors
.cp {
  cursor: pointer;
}

// cart shop styles
.btn-delete {
  font-size: 14px;
}
.cart__subtotal {
  top: 60px;
}

.item-card {
  .img__item-card {
    max-width: 110px;
    height: 100%;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 3/4;
    }
  }
  .info__item-card {
    & a span {
      font-size: 14px;
      transition: all 0.3s ease;
      &:hover {
        opacity: 0.7;
        transition: opacity 0.3s ease-in-out;
      }
    }
  }
  .control-stock {
    max-width: 90px;
    .form-control {
      font-size: 12px;
    }

    // style para quitar button por defecto de input numer
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type="number"] {
      -moz-appearance: textfield;
    }

    input[type="date"]::-webkit-inner-spin-button,
    input[type="date"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type="date"] {
      -moz-appearance: textfield;
    }

  }
}

@media screen and (min-width: 768px) {
  .container-w {
    max-width: 1180px;
    margin: auto;
  }
  .item-card {
    .control-stock {
      max-width: 100px;
    }
  }
}
@media screen and (min-width: 991px) {
  .navbar-nav .dropdown:hover .dropdown-menu {
    display: flex;
  }
  .navbar-nav .dropdown .dropdown-menu.show {
    display: flex;
  }
}
